<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>CustomTabMode</key>
	<false/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>lsp</string>
		<string>lisp</string>
	</array>
	<key>Grammar</key>
	<string>source.lisp</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LiveConsole</key>
	<false/>
	<key>Name</key>
	<string>Lisp</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RunCommand</key>
	<string>clisp -repl $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<true/>
			<key>Extension</key>
			<string>lisp</string>
			<key>Name</key>
			<string>Lisp File</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>&lt;##&gt;</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>A59BB434-1950-495D-9A2F-83E710EDD8A1</string>
</dict>
</plist>
